@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Poppins:400,700');
body > header{
    background-color:#046DD5;
    padding:1em;
    font-family: Poppins;
    line-height: 1em;
}

body > header h1 a{
    text-decoration:none;
    color:white;
    font-weight:bold;
    font-family: Poppins;
}

body > header h2 a{
    text-decoration:none;
    color:white;
    font-weight:lighter;
    font-family: Poppins;
}
#signup a{
    text-decoration: none;
    color:white;
    font-weight: lighter;
    font-family: Poppins;
}
#signup a:first-child::after{
  content:" | ";
}
#menu {
  padding: 0;
}
#menu input,
#menu label{
  display: none;
}
#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#menu li{
    padding:1em;
    text-align: center;
    list-style: none;
    font-family: Poppins;
}
#menu a{
    text-decoration: none;
    color:inherit;
    font-size: 20px;
}
#menu li:nth-child(1){ border-top:10px solid #E1493E; }
#menu li:nth-child(2){ border-top:10px solid #8ABA56; }
#menu li:nth-child(3){ border-top:10px solid #5B4282; }
#menu li:nth-child(4){ border-top:10px solid #FF8932; }
#menu li:nth-child(5){ border-top:10px solid #19B6E9; }
#menu li:nth-child(6){ border-top:10px solid #E84C8B; }

#related{
    background-color: #2A2F33;
    padding: 1em;
    margin-bottom: 1em;
} 
#related article h1 a{
  text-decoration: none;
  color: #FFFFFF;
  font-weight: bold;
  font-family: Poppins;
  font-size: 20px;
}
#related article p{
  font-family:Lora;
  font-weight: lighter;
  color:white;
  font-size: 20px;
}
#news article{
  position: relative;
}
#news article header{
  position: absolute;
  top: 1em;
  left: 1em;
  width: 25%;
}
#news article header h1 a{
  color: white;
  text-decoration: none;
  font-family: Poppins;
  font-size: 1em;
  text-shadow: 15px 15px 15px rgba(0,0,0,2);
}
#news img{
  width: 100%;
  display: block;
}
#news article p:first-of-type::first-letter{
  font-size:2em;
  line-height:1;
  position: relative;
  top:-0.25em;
  margin-right:0.1em;
}
#news footer{
  background-color: #F4655F;
  padding:1em;
  color:white;
  margin-bottom: 1em;
}
#news footer a{
  color:white;
  text-decoration: underline;
}
.comments::after{
  content:" comments";
}
#news article p{
  font-family: Lora;
  line-height: 1.6;
}
footer{
  background-color: #2A2F33;
  padding:0.5em;
  color:white;
}